<%- include('header') %>
    <link rel="stylesheet" href="/stylesheets/style.css">


    <a id="logout" href="/logout">Log Out</a>
    <a id="back" href="/profile"><i class="ri-arrow-left-line"></i> Back</a>
    
    <div id="quiz-container">
        <h1>English Quiz</h1>
        <div id="question-container"></div>
        <div id="options-container"></div>
        <button id="next-button">Next</button>
    </div>

    <script src="javascripts/English.js"></script>
    <%- include('footer') %>